<div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
        <div class="row" style="margin-top: 100px;">
            <div class='col-md-4 col-xs-5'>
                <div class="form-group  has-feedback has-clear">
                    <label for="sm">Select Medicine :</label>

                    <div class="dropdown">
                        <a class="" id="triggerId" data-toggle="dropdown"><input class="form-control" id="sm" type="text"
                                [(ngModel)]="searchTerm"><span class="form-control-clear close form-control-feedback hidden">X</span></a>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <li class="dropdown-item" *ngFor="let i of medi | search:searchTerm:s" (click)=" display(i)">{{i.name}}</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-7">
                <div class="form-group">
                    <label for="quant">Quantity :</label>
                    <input type="number" name="quant" id="quant" class="form-control" placeholder="Enter Quantity here ...." [(ngModel)]=rq (keyup)="check()">
                    <label class="text-danger" *ngIf="b">Insufficient Quantity</label>
                </div>
            </div>
            <div class="col-md-4 col-xs-7 mx-auto" align="center">
                
                <button type="button" class="btn btn-info" (click)="addtocart()">Add to Cart</button>
            </div>
        </div>
        <table class="table bg-dark text-light mx-auto">
            <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Type</th>
                    <th>Usage</th>
                    <th>Company</th>
                    <th>Quantity</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{i.name}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.usage}}</td>
                    <td>{{i.company}}</td>
                    <td class="{{i.quantity <= 10 ? 'text-danger':'text-light'}}">{{i.quantity}}</td>
                    <td>{{i.price}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>